{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Login{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
<from class="myform" method="POST">
    <div class="form-group">
        <div class="form-label">Email:</div>
        <div class="form-element"><input type="email" name=" "></div>
    <div class="form-group">
        <div class="form-label">Password:</div>
        <div class="form-element"><input type="password" name=" "></div>
    <div class="form-group">
        <div class="form-label">submit</div>
        <div class="form-element"><input type="submit" value="submit"></div>
</from>
<p><br><br><br>If you don't have an account, please <a href="/signup">signup</a> </p>

<p><br><br><br>Forget password?  <a href="/resetpassword">reset password</a> </p>
{% endblock %}